[2015-04-23 05:04] maverick337 opened #1 "Feature request"
Please add an option to Redirect to a url.
Thanks

[2015-04-23 05:07] kunalnagar commented on #1
Will be done in the next release! :+1:

[2015-04-23 06:44] #1 closed

[2015-05-06 13:54] kunalnagar opened #2 "Parse error: syntax error, unexpected '['"
Plugin could not be activated because it triggered a fatal error.
Parse error: syntax error, unexpected '[' in [...]/wp-content/plugins/custom-404-pro/admin/class-custom-404-pro-admin.php on line 414

[2015-05-06 13:56] #2 closed

[2015-05-09 22:17] kleinechristoph opened #3 "Invalid argument supplied for foreach() line 129"
I am getting an error in the wordpress backend saying:

Invalid argument supplied for foreach() in [...]/wp-content/plugins/custom-404-pro/admin/class-custom-404-pro-admin.php on line 129

Wordpress Version 4.2.2.
If you need any more info I think I can reproduce the error after activating the plugin.

[2015-05-10 01:13] kunalnagar commented on #3
are you trying to save a custom redirect URL? when does this error occur?

[2015-05-10 01:23] kleinechristoph commented on #3
It occured after I set the custom 404-page to a page from my content. (no other custom redirects set)
The warning appears throughout the wordpress backend on top of the pages.

[2015-05-10 01:26] kunalnagar commented on #3
sure i was able to reproduce the error, taking a look at it :)

[2015-05-10 01:33] #3 closed

[2015-05-10 02:19] kunalnagar commented on #3
@kleinechristoph let me know if it works

[2015-05-10 03:44] kleinechristoph commented on #3
@kunalnagar Works > http://internetzkidz.de/not-a-page
Thanks a lot - and amazing speed. 5 stars.

[2015-05-10 11:47] kunalnagar commented on #3
:+1:

[2015-05-20 22:06] AndrewCalvo opened #4 "Feature Suggestion"
It would be great to have the option to turn off the 404 logging.. We recently completely redesigned the site and are getting up to 10 new log entries a minute.

[2015-05-20 22:07] AndrewCalvo opened #5 "Bug: Search criteria appears in all page views"
Since I loaded your plugin, when i go to the "All Posts" or "All Pages" page within WPAdmin it displays the search criteria you have for the log pages (browser, os, browser version). Can that information only appear on the 404 Log page instead of all page lists?

[2015-05-21 01:42] kunalnagar commented on #5
Will take a look at this today. Thanks for bringing it up!

[2015-05-21 01:44] kunalnagar commented on #4
How does the logging affect your website?

[2015-05-21 01:53] AndrewCalvo commented on #4
The biggest way it affects the site is when I go to create a link using the editor, the "Link to Existing Content" is full of all the log entries, I have to scroll through pages and pages of 'log' entries before I get to an actual page or post that I created

[2015-05-21 01:56] kunalnagar commented on #4
I'll take a look at this later today and get back to you. Technically, if you link to existing content, it should not create a log entry.

[2015-05-21 01:58] AndrewCalvo commented on #4
I appreciate you looking into this. It's not creating a log entry when I link to an existing content - all of the log entries are showing up in the list of existing content. I cant provide you a screen shot now, but I will tomorrow.

[2015-05-21 02:00] kunalnagar commented on #4
Oh I get it now. Since the Log Entry is again a Custom Post Type, it must be showing up in the list of existing content. Damn, that must be irritating. I'll figure out a way to handle this.

[2015-06-10 16:58] karlosdpm opened #6 "Why do I receive 404 of pages that I deleted it a while ago?"
Hello!

Why do I receive 404 of pages that I deleted it a while ago?
I think the google bot is still crawling them.

For example:

User IP	66.249.65.113
404 Path	/sabrina/author/admin/page/2/
User Agent	Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)

What can I do about that?

Thank you!

[2015-06-11 15:40] kunalnagar commented on #6
I'm not sure what you mean.

If you are deleting a page, and then accessing its URL, it will throw a 404 and it will get recorded by the plugin.

[2015-06-11 16:47] karlosdpm commented on #6
I never said I accessed the url.

That page was deleted a while ago but still I am receiving that log.
For example:

User IP 66.249.65.113
404 Path /sabrina/author/admin/page/2/
User Agent Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)

That page http://www.kmbytes.com/sabrina/author/admin/page/2/
does not exist anymore, I am not accessing it but I still receive that log.

[2015-06-12 01:11] kunalnagar commented on #6
If you deleted the page, Google might still have it indexed. So when someone hits that page, a 404 is recorded. You can go to the Webmasters tool and request a URL de-index from Google.

Hope this helps!

[2015-06-17 14:18] angelsguitar opened #7 "2 Feature Requests"
Hi.

First of all, this is a great plugin.  The concept is great and makes it easy to create a custom 404 page.

I would like to request two features that I think would be very practical in managing the logs:

1. Add a "Clear Log" button that allows the entire log to be erased easily with one click

2. Add the option to turn off logging (for those of us who just want to use the 404 page creation w

[2015-06-21 09:26] kunalnagar commented on #7
Hi @angelsguitar,

Glad that you like the plugin! Here are my comments:

* I can add the Clear Log button, it will be really useful.
* If you don't want the logging, you can just disable the plugin :)

[2015-06-21 09:27] #6 closed

[2015-06-21 12:15] angelsguitar commented on #7
Thanks for your attention to these requests.

[2015-06-28 03:44] #4 closed

[2015-06-28 03:44] #5 closed

[2015-06-28 03:44] #7 closed

[2015-06-28 03:48] kunalnagar commented on #7
Deployed version 1.4.0. Please update  and let me know :)

[2015-06-28 03:48] kunalnagar commented on #5
Deployed version 1.4.0. Please update  and let me know :)

[2015-06-28 03:49] kunalnagar commented on #4
Deployed version 1.4.0. Please update  and let me know :)

[2015-07-07 15:21] angelsguitar commented on #7
Thanks a lot, Kunal!

[2015-07-08 02:36] kunalnagar commented on #7
@angelsguitar thanks man! Much appreciated.

[2015-07-27 18:45] angelsguitar commented on #7
Hi Kunal.

Sorry that I forgot to share the link in mentioned.  Here is it:

https://angelcandelaria.com/has-personalizado-u-optimizado-la-pagina-de-error-404-de-tu-blog-que-esperas/

[2015-07-28 08:33] kunalnagar commented on #7
@angelsguitar Thanks! :+1:

[2015-09-11 18:46] MisterTony opened #8 "email question"
When I get an email with the 404 error it is from me and sent to me. (administrator) So it goes into my inbox AND sent folder.  And when I delete it from the sent folder it deletes the inbox email too.  How can I fix this?
Thanks!

[2015-09-12 01:31] kunalnagar commented on #8
You can set up a process to forward that email back to your own account or another email or a specific label/folder.

[2015-09-13 17:17] #8 closed

[2015-09-14 22:07] charlesjra opened #9 "backupbuddy settings page (along with a few other pages wont load)"
theses pages all send me to the custom 404 page that i set up

[2015-09-19 19:46] shareyourrepair opened #10 "Certain (bad) link goes to bluehost 404 page not my custom 404 page"
I was going through the 404 errors in my Google Webmaster Tools and discovered a bad link that was pulling my my web host's 404 page not my custom 404 page like all my other bad links show.   The url of the page that was showing the bluehost 404 page is: http://www.shareyourrepair.com/search/label/A/C

I contacted bluehost and they tinkered around with my site and renamed the bluehost 404 page and

[2015-09-20 14:09] kunalnagar commented on #10
John,

Glad to hear that the plugin is working out for you :+1:

So as long as you are visiting any URL that is within the WordPress site, the plugin should be able to redirect it to the page you've mentioned in the Plugin Settings. Otherwise, any other URL would throw a 404 error on the Bluehost page. I hope that helps.

Marking as resolved for now.

-Kunal

[2015-09-20 14:09] #10 closed

[2015-09-20 14:10] kunalnagar commented on #9
Hi,

Can you give me some more info so I can assist you better?

-Kunal

[2015-09-20 14:39] shareyourrepair commented on #10
What is qualified as "within the WordPress site"?  The path must be within the WordPress site?

[2015-09-21 02:42] kunalnagar commented on #10
The URL that you are visiting should be part of the WordPress site.

For example, you might be hosting a non-WordPress site at www.abc.com but you might be hosting a WordPress blog at www.abc.com/blog

If you get a 404 on www.abc.com/blog/anythinghere, this falls under the WordPress install. But if you get a 404 on www.abc.com/blah, this would take you to the Bluehost 404 page.

Hope that helps!

[2015-12-06 13:46] #9 closed

[2016-01-14 16:30] websbydrew opened #12 "404 log has grown to over 70k entries due to bots"
I cant delete the log, it hangs up each time. Can I delete log from terminal maybe?

[2016-01-16 10:59] kunalnagar commented on #12
I'll be fixing this in the next release.

Just click the Clear Log button and if you get a white screen, just go back and click Clear again. It is clearing the logs but it is timing out. A couple of tries and you should be good to go.

[2016-01-16 15:01] websbydrew commented on #12
It deletes no logs I've tested.

Sent from my iPhone

[2016-01-25 03:42] AndrewCalvo commented on #12
I'm having this same problem. I have 99,000 logs which I am trying to clear but it times out within a matter of seconds.

[2016-01-25 17:31] #12 closed

[2016-01-25 18:06] kunalnagar commented on #12
@AndrewCalvo @websbydrew Released an update (1.4.3). Once you've updated – instead of the check box for clearing logs now, there is a button called "Clear Logs". Please click on it and it will clear your logs. It might take some time but once it is done, you will get an alert saying "Logs Deleted".

Let me know if it works for you. It might take some time though.

[2016-01-31 17:29] AndrewCalvo commented on #12
Thanks Kunal,
I just had an opportunity to update the plugin, and while I do see the button - clicking it does nothing. It doesn't send a query to the server or do I get any type of indication that it is deleting logs in the background.

[2016-01-31 19:08] kunalnagar commented on #12
@AndrewCalvo so the button deletes logs incrementally in groups of 500. Here's something you can do to check if logs are being deleted or not. Open the Logs section and take a look at the number of logs. Then go to Settings in another tab and Clear the Logs. After a minute or so, refresh the Logs tab and see if any have been deleted. I'm unable to test with 70k logs at the moment. Thanks for your

[2016-01-31 19:27] AndrewCalvo commented on #12
Ok thank you. I tried it with a different computer and it does seem to work better now.

[2016-02-01 01:45] kunalnagar commented on #12
@AndrewCalvo Great! I'll add some sort of indicator when the posts have finished deleting and make it more user-friendly in the next release.

[2016-02-02 10:21] rkorebrits opened #13 "Option to choose "status" missing"
404 pages are redirected as the default WordPress 302.

Ideally the plugin needs a dropdown with options like 302 (default), 404, 301. Cause really a 404 should result in a 404, not a 302.

https://codex.wordpress.org/Function_Reference/wp_redirect

[2016-02-02 12:45] kunalnagar commented on #13
@rkorebrits That's a good suggestion! I'll try and incorporate it in the next release.

[2016-02-02 22:10] oloynet opened #14 "Remove the custom post c4p_log to be public"
I've noticed that the custom post c4p_log is visible by the public.
I think it's better to set public to false, and also the others parameters

[ custom-404-pro/admin/class-custom-404-pro-admin.php ]() - line 125

`
'public'               => false,
'publicly_queryable'   => false,
'exclude_from_search'  => true,

[2016-02-02 22:14] oloynet opened #15 "file_get_contents( ) in some hosting is disabled for security"
file_get_contents( ) in some hosting is disabled for security.

To remove the error and have less logs, it possible to had an @ before the function
`$temp   = @file_get_contents( $url );`

[ custom-404-pro/admin/class-custom-404-pro-admin.php ]() - line 326

[2016-02-06 04:19] kunalnagar commented on #15
@oloynet Switching to CURL by default. But if that is not installed, the plugin will use `@file_get_contents`

[2016-02-06 04:41] kunalnagar commented on #13
@rkorebrits So here is how it's gonna work. For the redirect options, I've put a dropdown with two options: 302 (default) and 301. By default, if no redirect is set, you will get a 404. But if you set a redirect, it will choose what you have set from the two options (302 or 301). Hope this makes sense!

[2016-02-06 04:49] #13 closed

[2016-02-06 04:49] #14 closed

[2016-02-06 04:49] #15 closed

[2016-03-13 23:48] paulginsberg opened #17 "People seeing 404 when they shouldn't be"
I've got users seeing 404 error messages when they should actually be seeing profile pages - as soon as I deactivate Custom 404 Pro everything works properly.

e.g. http://www.leaseholdersforum.org.uk/users/paulginsberg/ just displays the 404 but
http://clf.cloud-genius.com/users/paulginsberg/ (my staging website with Custom 404 Pro deactivated) displays the page properly.

Any ideas?  I'm a Wordp

[2016-03-22 10:12] kunalnagar commented on #17
@paulginsberg So this plugin does not allow you to create 404 pages. However, it will allow you to record and redirect your 404s to the default 404 page or to a specific page that you have in WordPress. Hope this helps?

[2016-03-22 10:19] paulginsberg commented on #17
Hi @kunalnagar, that doesn't answer the question why people see the correct page (e.g. User Profiles) unless Custom 404 Pro is activated.  Once you activate Custom 404 Pro then they just see the 404 message for these pages.

That said, the functionality works ok most of the time, just not in the User Profiles section.

Samuel Elh has also contacted me regarding this - does that person have any con

[2016-03-23 05:25] kunalnagar commented on #17
@paulginsberg I'm not sure what you're talking about. If someone else comes up with the same issue, I'll re-open this up. Thanks.

[2016-03-23 05:25] #17 closed

[2016-03-23 10:20] paulginsberg commented on #17
Hi Kunal,

Here's a better explanation:

**Scenario:**
- People on are my BBPress pages: http://www.leaseholdersforum.org.uk/discussion-board/
- They then click a name which should take them to that user's Profile page ("TheLinkIClicked.PNG" - attached)

If Custom 404 is **activated** then then get my custom 404 message ("PageNotFound.PNG").

If Custom 404 is **deactivated** then then they get tak

[2016-03-23 10:48] paulginsberg opened #18 "404 error message on user profiles"
Hi Kunal,

Here's a better explanation:

**Scenario:**
- People on are my BBPress pages: http://www.leaseholdersforum.org.uk/discussion-board/
- They then click a name which should take them to that user's Profile page ("TheLinkIClicked.PNG" - attached)

If Custom 404 is **activated** then then get my custom 404 message ("PageNotFound.PNG").

If Custom 404 is **deactivated** then then they get tak

[2016-04-05 20:29] JasonWeller opened #19 "Public facing css in the header ?"
Hi,

Great Plugin, nice work.
Is there a reason why the public facing css is in the header ? It doesn't look like its doing anything.
It would be great to remove it with an option if possible.

Thanks
Jason

[2016-04-29 12:05] kunalnagar commented on #19
@JasonWeller Thanks! Will remove it in the next release. It was WP Plugin Boilerplate :)

[2016-05-17 14:10] jnptechnical opened #20 "Clearing logs"
Hi there,
I can't seem to be able to clear some of the logs (now turned logging off) - where are these located in the db so i could remove them please?

Regards,
Jack

[2016-05-18 00:55] kunalnagar commented on #20
@jnptechnical Clearing logs is something that's not 100% bug-free. The internal logic deletes logs incrementally. This will be fixed in the next release. In the meantime, I recommend clicking on the "Clear Logs" button and then waiting for a minute or two and then checking if part of the logs have cleared or not.

[2016-06-07 21:41] bzle opened #21 "Lots of log entries"
Custom 404 Pro was installed on a site less than a month ago and currently has almost 35,000 entries logged. Our database "postmeta" table has over 500,000 rows, and the custom 404 pro logging appears to be the culprit. Every log results in 17 rows in the table. That makes sense since: 17 x 34,600  = ~500,000.

I've just turned off logging and would like to clear the log soon, but I'll wait in cas

[2016-06-12 03:51] kunalnagar commented on #21
@bzle If you would like to clear the logs, you can click on the Clear Logs button and wait for a while. It deletes in batches of 500. Try refreshing after a minute or two and see the count.

[2016-06-12 03:51] #21 closed

[2016-06-12 03:51] #20 closed

[2016-06-12 03:51] #18 closed

[2016-06-12 09:19] paulginsberg commented on #18
Actually this is still an issue.

[2016-06-17 12:53] bzle commented on #21
@kunalnagar It does take several minutes each time I click "Clear Logs", but it's only deleting around 185 entries. Still have 30,000 to go. Also, the site locks up while it's deleting the entries (so I'm trying to do it late at night).

[2016-06-25 13:15] #19 closed

[2016-06-25 13:16] kunalnagar commented on #20
@jnptechnical Just Released v.2.0.0 of the plugin that has better feedback for clearing logs. Update and try :)

[2016-06-25 13:16] kunalnagar commented on #21
@bzle Just Released v.2.0.0 of the plugin that has better feedback for clearing logs. Update and try :)

[2016-06-25 13:17] kunalnagar commented on #12
@AndrewCalvo @websbydrew Just Released v.2.0.0 of the plugin that has better feedback for clearing logs. Update and try :)

[2016-06-25 13:46] bzle commented on #21
@kunalnagar I just finished clearing all of them last night! But thanks, I'll grab the update in case turn logging back on.

Any idea what caused the logging to explode like it did? Has that been fixed in v.2.0.0?

[2016-06-25 14:05] jnptechnical commented on #20
Awesome, thank you.

I'll give that a go!

[2016-07-02 01:46] kunalnagar commented on #20
@jnptechnical I just released a bugfix in 2.0.1. Could you update and let me know if it's working?

[2016-07-02 01:46] kunalnagar commented on #21
@bzle I just released a bugfix in 2.0.1. Could you update and let me know if it's working?

[2016-07-02 12:30] jnptechnical commented on #20
Hey buddy,
All seems to be working perfectly, very impressed, the counter is a nice touch!

[2016-07-03 03:07] kunalnagar commented on #20
@jnptechnical That's great, thanks!

[2016-07-13 08:55] rkorebrits commented on #13
Hi Kunal, I'm not so sure about this. I've been checking out our logs now, but we are not seeing any 404 messages, but just the default 302.

What do you mean by "_By default, if no redirect is set, you will get a 404_". How does one set a redirect, or rather, how to not set it? So that we do get 404s.

Why didn't you just add `404` to the drop-down also? I always want 404s to display as 404, so t

[2016-07-13 08:56] rkorebrits opened #22 "Not getting 404 status code."
Related to: https://github.com/kunalnagar/custom-404-pro/issues/13

Hi Kunal, I'm not so sure about this. I've been checking out our logs now, but we are not seeing any 404 messages, but just the default 302.

What do you mean by "_By default, if no redirect is set, you will get a 404_". How does one set a redirect, or rather, how to not set it? So that we do get 404s.

Why didn't you just add `40

[2016-07-13 09:07] rkorebrits commented on #22
Sorry, I didn't have your latest update :-) Has 404 now

[2016-07-13 09:07] #22 closed

[2016-07-29 17:14] bzle commented on #21
@kunalnagar After the 500,000 long table I was a bit hesitant to re-enable the plugin, but I finally did and so far so good! Amazing how many people are scanning for a vulnerability. Nice to have the logging feature. Thanks for the fix!

[2016-08-01 18:06] kunalnagar commented on #21
@bzle I think if you have 500k logs, there might be something seriously wrong with your website. I would recommend setting up a Google Webmasters and Analytics account to check your 404s. You can then resolve them by removing them from the index manually. (More Info: https://support.google.com/webmasters/answer/1663419?hl=en)

To take a close look at this, export the logs in an Excel format (there

[2017-05-07 21:04] JudithSchroeer opened #23 "Not showing custom 404 wp site"
I changed the settings like this:

![grafik](https://cloud.githubusercontent.com/assets/28513240/25785132/62730f30-3379-11e7-8260-fcc44b9ed568.png)

but instead of showing this site: https://letsgetitstraight.de/404-seite/
the default Divi site is shown.
Where do I go wrong?
Thx
Judith

[2017-05-11 00:52] kunalnagar commented on #23
I can see the 404 page - can you try changing it to another custom page and see if it works?

[2017-05-31 08:48] streetwitch opened #24 "Custom 404 causing database error"
Hi, my custom 404 page is working fine, but I'm getting the following error message which appears multiple times across my wordpress admin screens, especially the menu screen:
"Notice: Undefined index: c4p_log_redirect_to in /home/stereoso/public_html/wp-content/plugins/custom-404-pro/admin/class-custom-404-pro-admin.php on line 167" (various other line refs)
Can you help? Deactivating the plugin

[2017-06-03 05:42] kunalnagar commented on #24
Can you do a fresh install of the plugin and try again?

[2017-06-04 07:49] streetwitch commented on #24
Hi, thanks, but I already tried that, and it didn't make any difference.  I also updated the plugin to the latest version,

[2017-06-22 17:19] hhjphoto opened #25 "Soft 404"
I'm getting a ton of soft 404 errors in the Google Webmaster panel. Do you know what is causing this and why the plug in is not taking care of it?

Thanks!
Here's an example of the error:

http://jansenphotoexpeditions.com/wp-admin/admin-ajax.php?action=PopupBox&current_view=0&fb_id=1&theme_id=0&open_with_fullscreen=0&open_with_autoplay=0&image_width=800&image_height=600&image_effect=fade&enable_i

[2017-06-24 01:15] kunalnagar commented on #25
@hhjphoto By default, the log type is set to 302 (soft). You can go and change that in the plugin settings under Settings > General and change it to 404 if you like.

[2017-06-24 01:15] #25 closed

[2017-06-24 01:16] #23 closed

[2017-07-09 16:55] VenusTarot opened #26 "Redirect not working.."
hi im using wp super cache with my site. my redirect is sending me to my old 404.php page, which i had renamed so technically it doesnt exist. its still appearing with the theme 404 page instead of my custom page. Whats going on? any help is appreciated.  using SEOSMagazine premium template

[2017-07-10 16:26] VenusTarot commented on #26
Notice: Undefined index: c4p_log_redirect_to in /home/www/website.com/wordpress/wp-content/plugins/custom-404-pro/admin/class-custom-404-pro-admin.php on line 166
& same on 167

[2017-07-31 09:22] Qwadry opened #27 "404 logs"
Hello Kunal,

thanks for plugin Custom 404 Pro. Question: how am I supposed to know all the 404 logs and put them to the list? Does it mean all the wrong URL addresses which visitors entered? Thank you for support!

[2017-07-31 09:52] Qwadry commented on #27
One more thing: I managed to redirect 404 nonexistent page to my custom WP page, but I need to do it also for "not found" page - can I do it with your plugin? How?

[2017-08-15 18:45] Ontario7 opened #28 "unnesessary css and js loading everywhere :("
Hi,
thanks for the great plugin.
Just wonder why css and js you load on every existing page?
There is the way to check first if page exists and shut down loading those files.
Is it so hard?

Regards.

[2017-10-25 14:07] kunalnagar commented on #27
Hi @Qwadry

If there is a 404 on your website, it will redirect to whatever page you have set in the plugin options. Technically speaking, you should not see the default "not found" page if you have configured the settings correctly.

[2017-10-25 14:08] kunalnagar commented on #28
Hi @Ontario7

Thanks for the heads up. I will try and get this sorted out in the next release as I don't think it's too big a deal. The CSS and JS should only impact the admin dashboard and should have no impact on the performance of your website.

[2017-10-25 14:09] kunalnagar commented on #26
Hi @VenusTarot

I'm not sure what might be happening. Could you disable WP Super Cache and see if it fixes the issue? Usually, such errors are mostly because of plugins clashing with each other.

[2017-10-25 14:10] kunalnagar commented on #24
Hi @streetwitch

Thanks for the heads up. I've seen this issue pop up before. I'll try and get this sorted out in the next release which should be in a few days.

[2017-10-28 06:48] streetwitch commented on #24
Ok thanks, fingers crossed you can – I’ve had to switch it off, and the not found page looks a complete mess,

Helen

empathydesign

t: 01904 399316

m: 07787 411880

http://www.empathydesign.co.uk

From: Kunal Nagar [mailto:notifications@github.com]
Sent: 25 October 2017 15:10
To: kunalnagar/custom-404-pro
Cc: streetwitch; Mention
Subject: Re: [kunalnagar/custom-404-pro] Custom 404 causing databa

[2017-10-31 10:12] Aramon opened #29 "Title Blog"
Hello friend, thanks for this great plugin, I've been looking for something like that for a long time.
I have a request for you, I will certainly like more people, if you could give me immediate advice, I would be grateful to you.
I use the plugin on 3 sites, all of them have the same admin email, so unfortunately I never know which site the bug comes from, because the emauli message does not cont

[2017-11-01 01:43] kunalnagar commented on #29
Hi @Aramon

Thanks for using the plugin, I'm glad you like it.

Good suggestion to add the site name to the email, I can do that in the next release.

[2017-11-18 05:34] kunalnagar commented on #24
Hi @streetwitch

New plugin version released: v2.1.0 Could you please update and let me know if it fixes the issue you're having? Please make sure to uninstall and re-install the plugin for safe measure.

Thanks!

[2017-11-18 05:35] #26 closed

[2017-11-18 05:35] #27 closed

[2017-11-18 05:35] kunalnagar commented on #28
Hi @Ontario7

New plugin version released: v2.1.0 This should fix the unnecessary CSS and JS loading everywhere.

Thanks!

[2017-11-18 05:35] #28 closed

[2017-11-18 05:36] kunalnagar commented on #29
Hi @Aramon

New plugin version released: v2.1.0 You should get the Site title in the email body now :)

Thanks!

[2017-11-18 05:36] #29 closed

[2017-11-18 07:23] Ontario7 commented on #28
Dear Kunal, Thank you for the info.I do not see the plugin on WP plugins repository yet.   Kind regards,Vladimir RybinskyEuro Segway Prague+420 776 337 560https://www.eurosegway.cz/   18.11.2017, 06:35, "Kunal Nagar" <notifications@github.com>:Hi @Ontario7New plugin version released: v2.1.0 This should fix the unnecessary CSS and JS loading everywhere.Thanks!—You are receiving this because you wer

[2017-11-18 11:01] kunalnagar commented on #28
Hi @Ontario7

You should see the update now. Let me know if you still don't get it.

[2017-11-18 11:28] Ontario7 commented on #28
Hi, Now I did update is as well, thanks. But the bug issue #28 still exists.... I see the code<link rel='stylesheet' id='custom-404-pro-css' href='https://www.eurosegway.es/wp-content/plugins/custom-404-pro/public/css/custom-404-pro-public.css?ver=1.0.0' type='text/css' media='all' /> and <script type='text/javascript' src='https://www.eurosegway.es/wp-content/plugins/custom-404-pro/public/js/cust

[2017-11-18 11:40] kunalnagar commented on #28
Hi @Ontario7

Those files are empty, they don't contain any code. I have removed the JS and CSS from loading on all other ADMIN pages only. I can remove the public ones in the next update as well but that should not have any impact on your site.

[2017-11-18 11:42] Ontario7 commented on #28
Thank you, hope in next update it would be corrected.  Feel free to contact us at any time.  Kind regards,Vladimir RybinskyEuro Segway Prague+420 776 337 560https://www.eurosegway.cz/18.11.2017, 12:40, "Kunal Nagar" <notifications@github.com>:Hi @Ontario7
Those files are empty, they don't contain any code. I have removed the JS and CSS from loading on all other ADMIN pages only. I can remove the p

[2017-11-18 11:42] #24 closed

[2018-03-05 22:27] Brink67 opened #30 "Request"
Awesome, simple and to the point plugin.

A space would be a little helpful in the email sent to the site admin.

Example excerpt from one of my email reports: "...Path/pow-wow/img/a17.pngUser AgentMozilla/5.0 (Windows NT 6.1; Win64; x64)..."
Space is lacking between a17.png and User Agent.

Also even more helpful would be to return the output from $_SERVER["HTTP_REFERER"]; as part of the email re

[2018-03-10 06:39] kunalnagar commented on #30
@Brink67 - thanks for using the plugin, I'm glad you like it.

* Could you possibly send a screenshot of how the email looks for you and what change you're talking about? Please make sure to blur out sensitive content.
* Knowing where the 404 came from is a particularly helpful stat. I might add another column in the table as well to show this data (in addition to adding it in the email as well).

[2018-03-30 05:07] kunalnagar commented on #30
@Brink67 - released a new version 2.1.1 that contains the Referer update. The referer will show up in the logs table as well as in the email. You should receive the update in an hour or so.

Also, regarding the space issue, the email being sent is an HTML email, but I assume your email client renders a text version which is not supported by the plugin. Here's a screenshot of how the email should l

[2018-03-30 05:07] #30 closed

[2018-04-18 21:31] hhjphoto opened #31 "Custom 404 Pro Issues"
I have the Custom 404 plug in and I am trying to remove it from my Wordpress site and it will not delete. It is throwing a ton of errors. Help!
![404s](https://user-images.githubusercontent.com/29635632/38959342-1da937ce-4315-11e8-830e-481ee9cc3469.jpg)

[2018-05-07 00:24] linabella opened #32 "Doesn't display the custom page I created"
I've created the page, set it to use a wordpress page and chosen that page in the drop down below. 404s are being logged but the custom page doesn't show. How can I fix this?

[2018-05-11 17:04] tripdubpj opened #33 "URL of 404 page"
Hey Kunal,

I've set up a custom 404 page within my Wordpress theme, but how do I make sure the incorrect URL e.g. '.com/cndjv' is displayed in the address bar versus the '.com/404' I had to set when creating the new page – when the loaded 404 page is displayed to the user?

Thanks,
Paul

[2018-06-27 05:43] Imbera2017 opened #34 "Not Working with error type 404"
I’ve using the mode “Wordpress Page” and I’ve selected a page “Siden finnes ikke”.

But when I’m choosing the 404 under error type it loads the default 404 Genesis page, when I’m using Error Type 302 it displays “Siden finnes ikke”. But it’s important that google and other search engines get 404 and not 302 error type.

https://elhub.no/

[2018-06-27 05:54] kunalnagar commented on #34
@Imbera2017 Thanks for using the plugin!

You can go to the **Plugin Settings** > **General** and set the default Error Type to 404. Remember to Save :)

![image](https://user-images.githubusercontent.com/2741371/41955177-91d754be-79fc-11e8-839d-51edbc3095c6.png)

[2018-06-27 05:57] Imbera2017 commented on #34
But when I do that, change the Error Type to 404 I doesn't shoe the custome wordpress page - it shows the default Genesis 404 page.

[2018-06-27 05:59] Imbera2017 commented on #34
The custom 404 page only shows when the error type is 302

[2018-10-19 19:36] JHCD opened #35 "[Feature Request] Log without IP"
Thank you for the nice plugin.

I have a feature request:
Could you please implement an option that prevents the IP address from being stored in the database?
Is here quite a privacy relevant topic.

Thanks

[2018-10-22 12:15] JHCD opened #36 "[Feature Request] error type 307/308"
Please implement the error type 307/308.
302 is deprecated due to security issues since HTTP / 1.1

See: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_Redirection

[2018-10-29 18:08] JHCD commented on #35
I would like to have some anchor points for hooks and filters, so that I could add some private code.
e.g. 404 has occurred, 404 stored in DB

[2019-03-10 19:41] kunalnagar commented on #31
@hhjphoto Please upgrade to version 3.0.0 and you'll find a "Reset" button there that you can use to delete all of these errors. The plugin is re-written from the ground up and incorporates a lot of feedback from users. Let me know if you have any questions, closing this for now.

[2019-03-10 19:41] #31 closed

[2019-03-10 19:43] kunalnagar commented on #36
@JHCD  Please upgrade to version 3.0.0 and you'll find the 307/308 redirect error codes there.

The plugin is re-written from the ground up and incorporates a lot of feedback from users. There is an entirely new logging system that does not rely on a custom post type. So if you already have some actions set on your current logs, I would not recommend upgrading.

[2019-03-10 19:43] #36 closed

[2019-03-10 19:44] kunalnagar commented on #35
@JHCD I'll try to add this in 3.0.1 along with some hooks. Can you suggest some useful hooks based on your workflow?

[2019-03-10 19:45] kunalnagar commented on #34
@Imbera2017 Can you upgrade to version 3.0.0 of the plugin and try out the new version? You will lose your current logs and settings but you should not face these issues, hopefully.

[2019-03-10 19:45] #34 closed

[2019-03-10 19:46] kunalnagar commented on #33
@tripdubpj you can set up a redirect to the page you want in the plugin settings. When a 404 is hit, the plugin will redirect to your page of choice.

[2019-03-10 19:46] #33 closed

[2019-03-10 19:47] kunalnagar commented on #32
@linabella can you upgrade to version 3.0.0 and see if the experience is better for you? Closing for now.

[2019-03-10 19:47] #32 closed

[2019-03-12 00:57] GlobalCreations opened #38 "404 Pro not working"
I just updated Custom 404 Pro to version 3.0.0.  I tried using both a Wordpress page and the link to the page, but neither worked.  Also the settings revert back to 'None' when the settings page reloads.

[2019-03-12 02:12] kunalnagar commented on #38
@GlobalCreations can you try the following steps and see if it works?

1. Deactivate and activate the plugin again
2. Save your Settings again
3. See if the 404 redirect works.

We've done a complete re-write of the plugin from the ground up in version 3.0.0 so I appreciate the feedback. I'll be releasing version 3.0.1 with early user feedback such as yourself. Thanks!

[2019-03-12 02:16] GlobalCreations commented on #38
Thanks,  It now works.

-Jerry-
Jerry Haugen
Global Creations LLC
PO BOX 5065
KLAMATH FALLS, OR 97603
globalcreations.com

On March 11, 2019 at 7:12:55 PM, Kunal Nagar (notifications@github.com) wrote:

@GlobalCreations can you try the following steps and see if it works?

Deactivate and activate the plugin again
Save your Settings again
See if the 404 redirect works.
We've done a complete re-writ

[2019-03-12 02:21] kunalnagar commented on #38
@GlobalCreations great! In the next version, I'll be adding a button to import your old logs to the new logging model. Would you find that useful? How often do you interact with your 404 logs if any?

[2019-03-12 02:22] GlobalCreations commented on #38
I don’t use the logs.  Probably should.

-Jerry-
Jerry Haugen
Global Creations LLC
PO BOX 5065
KLAMATH FALLS, OR 97603
globalcreations.com

On March 11, 2019 at 7:21:51 PM, Kunal Nagar (notifications@github.com) wrote:

@GlobalCreations great! In the next version, I'll be adding a button to import your old logs to the new logging model. Would you find that useful? How often do you interact with yo

[2019-03-12 02:23] #38 closed

[2019-03-14 11:08] enzor77 opened #39 "Version 3.0.5 Save Settings Issue"
With version 3.0.5 save settings still not working

[2019-03-14 11:29] kunalnagar commented on #39
@enzor77 can you deactivate the plugin, activate it and then try saving the settings?

[2019-03-14 11:34] enzor77 commented on #39
yes, that works; thanks a lot

[2019-03-14 11:34] #39 closed

[2019-03-17 12:11] kunalnagar commented on #35
@JHCD here's how the Log IP flag will look like in the 3.0.7 update of the plugin:

**Settings:**
![Screen Shot 2019-03-17 at 5 37 55 PM](https://user-images.githubusercontent.com/2741371/54490408-9d8fde80-48db-11e9-94e7-ea5629482cca.png)

**Logs Table:**
![Screen Shot 2019-03-17 at 5 38 25 PM](https://user-images.githubusercontent.com/2741371/54490420-b0a2ae80-48db-11e9-9730-7f57d248f033.png)

**

[2019-03-18 09:47] kunalnagar commented on #35
@JHCD this feature is now in version 3.1.0

[2019-03-18 09:47] #35 closed

[2019-03-27 20:48] mn999 opened #40 "Cannot set 404 page"
Hey Kunal,

I am using your plugin since 2 years now and it always worked fine. However, I just noticed that it does not let me set the right 404 page in Wordpress. After hitting save the chosen page is still not set. Do you have any idea? Here is a link to my website: www.mallorca-retreat.com.

Chris

[2019-03-27 20:50] kunalnagar commented on #40
Hey Chris,

Can you try deactivating, activating and then save your settings again? If that doesn't work, can you try re-installing the plugin?

[2019-03-27 22:25] #40 closed

[2019-04-01 08:34] mwhs commented on #39
I have the same problem - settings are not saved.
I've: reset the settings / decativated and activated the plugin / uninstalled and installed it again - nothing helped.

Any more ideas?

[2019-04-01 08:47] kunalnagar commented on #39
@mwhs uninstalling and re-installing the plugin should definitely fix the issue.

[2019-04-01 08:54] mwhs commented on #39
@kunalnagar unfortunately not, hasn't fixed anything.

[2019-04-01 09:00] kunalnagar commented on #39
@mwhs are you getting any errors? can you put some logs here?

there should be a table in your MySQL: wp_custom_404_pro_options. Can you post a screenshot of the table? Don't worry, no sensitive information is stored in the table.

[2019-04-01 10:48] mwhs commented on #39
@kunalnagar hmmm, I don't have access to the table - looks like our Webhost doesn't allow access to the database (weird...)

No, there isn't any error shown - I change my settings (-> select the page which should be shown as 404 page) and when I save them they are instantly reverted back to default settings.

[2019-04-01 11:01] kunalnagar commented on #39
@mwhs I'm not sure how that is happening even after you completely removed the plugin from WordPress. Deactivating is different, and completely removing the plugin is different.

At this point, since you don't have access to the Database as well, can you record a video of the removal, install and then saving the plugin and post a link here?

I don't record any logs on the plugin due to privacy iss

[2019-04-02 07:28] mwhs commented on #39
I tried my very best to record it... let me please know when you have seen it, then I'll remove it from the webserver:
https://hanke-seidel.com/wp-content/uploads/Custom_404_Problem.MOV

[2019-04-02 07:31] kunalnagar commented on #39
@mwhs I just downloaded the video locally. I'll take a look at it and let you know. For now, you can delete it from the webserver. Thanks a lot!

[2019-04-02 07:33] mwhs commented on #39
@kunalnagar : whow, that was fast :) - it's deleted!

[2019-04-02 07:40] kunalnagar commented on #39
@mwhs so I saw the video and it seems like the Settings are not saved. Let's try something here:

Can you try using the URL mode and set it to a custom URL and see if that works?

[2019-04-02 07:46] mwhs commented on #39
@kunalnagar of course, I've tried it: unfortunately, that doesn't change anything - settings are not saved.

[2019-04-02 07:48] kunalnagar commented on #39
@mwhs are any of your other settings saving in the General Tab?

[2019-04-02 07:53] mwhs commented on #39
@kunalnagar No, nothing is saved :(
At first I thought it is something in general, but this only happens with "Custom 404 Pro", all other plugins work as they should.

[2019-04-02 07:58] kunalnagar commented on #39
@mwhs okay, so the possible explanation here is that the tables required for the plugin to operate are not created successfully  - OR, if they are, the settings are not being saved to the tables. I presume it's the former.

In the next release of the plugin, I'll add some error logging and display so I can better debug issues like these - I haven't done that right now.

One more thing - can you re

[2019-04-02 08:02] mwhs commented on #39
@kunalnagar Yes, of course, where can I get them?

[2019-04-02 08:04] kunalnagar commented on #39
@mwhs you can go here and download ALL the previous versions of the plugin (at the very bottom): https://wordpress.org/plugins/custom-404-pro/advanced/

Also, can you post two things here: your WordPress version and your PHP version - I am trying to repro this issue to the exact parameters.

[2019-04-02 08:27] mwhs commented on #39
@kunalnagar I took the 3.0.3, it's the same: settings are not saved... That's really weird, I know that at least 3.0.3 worked fine.

PHP version is: 7.0.32
Wordpress is: 5.1.1 (it's a managed Wordpress installation at 1und1)

[2019-04-02 08:34] kunalnagar commented on #39
@mwhs your WordPress and PHP versions are fine (latest) so those shouldn't be a problem.

I'm as stumped as you - 3.0.3 worked for you before and doesn't work now..

Okay, let's investigate two other solutions for test:

1. Can you setup a fresh WordPress Install and ONLY install the latest version (3.2.3) of the Custom 404 Pro plugin and try saving settings there?

2. If option 1 does not work, s

[2019-04-02 08:49] mwhs commented on #39
@kunalnagar okay, I used a local installation of Wordpress (5.0.3), all was working fine - then I did a Wordpress update to 5.1.1 and the plugin stopped saving the settings...

Now I took version 2.1.3 and installed it at our Website which is online and (!) all works.

[2019-04-02 08:55] kunalnagar commented on #39
@mwhs this gets interesting by the minute :P

So you're saying the plugin works on WordPress 5.0.3 for you and doesn't after you upgrade to 5.1.1? How about if you directly install 5.1.1 fresh and then install the plugin?

Yes, I think it has something to do with 5.1.1 and the WordPress versions. I have another data point now to test, thanks!

Also, 2.1.3 was the last version of the plugin that di

[2019-04-02 10:06] mwhs commented on #39
@kunalnagar the local installation was a near fresh one, except that I did the upgrade from 5.0.3 to 5.1.1.

Well, yes, interesting... or confusing :P

[2019-04-03 19:56] kunalnagar commented on #39
@mwhs I've just released version 3.2.4 with some error logging when installing the plugin. Can you do a fresh install of the latest version of the plugin and see if you get any errors when activating the plugin? Thanks!

[2019-04-04 07:36] mwhs commented on #39
@kunalnagar where can I get the 3.2.4 version? I don't see it at here at github and Wordpress also doesn't offer me that version.

[2019-04-04 11:33] kunalnagar commented on #39
@mwhs sorry about that - had some issues while pushing the release - can you check now?

[2019-04-04 11:54] mwhs commented on #39
@kunalnagar Installed it and I have the same problem, the settings are not saved.

[2019-04-04 11:55] kunalnagar commented on #39
@mwhs Like I said, you have to reinstall the plugin - I've added error logging to the Install Step - when you activate the plugin for the first time, you should see some errors.

[2019-04-04 12:34] mwhs commented on #39
@kunalnagar I am getting that message:
_"The plugin generated 240 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin."_

[2019-04-04 12:52] kunalnagar commented on #39
@mwhs okay then this confirms that there is some problem with your MySQL installation while creating the tables for the plugin. Couple of things:

If you have enabled error logging on your WordPress Installation, you should see the error log in the ```wp-content/debug.log``` file.

If you've not enabled error logging, you can do that by going to your ```wp-config.php``` file and pasting the follow

[2019-04-04 13:37] mwhs commented on #39
@kunalnagar well, yes, I am seeing the error messages now and also see the entries at the log file, it just confirms that the tables are not created.

I am now a little bit lost, because of the managed wordpress installation I don't have direct access to the database. Just wondering a bit, because I thought a other plugin also has created own tables, but... atm I have no chance to check it... all

[2019-04-05 10:56] kunalnagar commented on #39
@mwhs not a problem - but you also mentioned that the plugin did not work on your upgrade from 5.0.3 to 5.1.1 on the local system. Can you try the same procedure there as well and see what errors you get?

[2019-05-31 20:56] Aidan-Goldman opened #42 "Redirect not working"
Hi Kunal,

When I enter a URL that does not exist on my site, it is not redirecting to the specified 404 page, and therefore any changes I make to my 404 page are not updating. Please let me know if I have not defined my 404 redirect correctly.

Thanks,
Aidan

[2019-05-31 21:04] kunalnagar commented on #42
@Aidan-Goldman to be clear:

1. You're visiting page X on your website that should result in a 404
2. You have specified a page Y in the Custom 404 Pro settings using the "Page" option
3. When you visit X, it's not redirecting to Y

Is that correct? If yes, can you try a couple of options:

1. Can you switch to the "Custom URL" option and see if that works for you?
2. Can you delete the plugin, re

[2019-05-31 21:33] Aidan-Goldman commented on #42
Hi Kunal,

Thank you for the prompt response! That is a correct assessment of the issue.

We are using WordPress version 4.9.6

It works the same whether I switch the Mode is set to WordPress Page or to URL

I will try uninstalling and reinstalling on Monday and let you know how it goes. Have a good weekend.

Best,

Aidan Goldman
Technical Support Engineer
Business Forecast Systems, Inc.
617 484 5

[2019-06-03 19:59] kunalnagar commented on #42
@Aidan-Goldman just checking in to see if you had time to test out the clean install of the plugin?

[2019-06-03 20:11] Aidan-Goldman commented on #42
Hi Kunal,

I have just tested this and it appears to have worked. Note, I had to set it to URL mode instead of specifying it by the WordPress Page name.

Thank you very much for reaching out and making sure this is working as expected. I appreciate it greatly.

Best,

Aidan Goldman
Technical Support Engineer
Business Forecast Systems, Inc.
617 484 5050
agoldman@forecastpro.com<mailto:agoldman@fore

[2019-06-04 04:29] kunalnagar commented on #42
@Aidan-Goldman it should work with the page option as well.

The first step in debugging any WordPress plugin is to deactivate other plugins on your website one by one and see if this fixes the issue. Maybe you're using a theme or plugin that hooks into the [is_404()](https://codex.wordpress.org/Function_Reference/is_404) method and that might conflict with this plugin.

Just in case you're curiou

[2019-06-04 04:29] #42 closed

[2019-06-24 00:37] CBiu opened #43 "Reflected XSS in logs.php"
`admin/views/logs.php`
[code]
## POC
`http://localhost/wp-admin/admin.php?page=c4p-main&s=%22%3E%3Csvg%2Fonload%3Dalert%28%2Fxss%2F%29%3E`

[2019-06-24 03:55] kunalnagar commented on #43
@CBiu thanks for this, I'll be releasing a fix for this in 3.2.8

[2019-06-24 03:56] #43 closed

[2019-07-07 12:15] magneto664 opened #44 "Is your plugin is working?"
I don't think your plugin is working on any way. I test it on the two Wordpress sites. on both show me a default wordpress 404 from theme. I test it by custom url and show a page via plugin settings and i do this with TWO wordpress installation both was on different theme. tnx.
In fast i setup another page with default WP theme and no plugins only yours and is no working. So sorry no your plugin i

[2019-07-07 13:15] #44 closed

[2019-07-07 13:16] kunalnagar commented on #44
@magneto664 thanks for this bug, I'm pushing out a minor bug fix v3.2.11 which should be available soon, please upgrade and let me know if it's working for you :)

[2019-07-07 13:39] magneto664 commented on #44
I can confirm is working all 2 Wordpress sites and fresh clean installation also working. tnx.

[2019-08-14 21:26] magneto664 opened #45 "Plugin Is No working."
Hi. Is look like your plugin no working. save but is not saved.

https://i.imgur.com/e9vrRz0.png

tnx for help. Version 3.2.12

[2019-08-15 00:48] kunalnagar commented on #45
@magneto664 can you deactivate the plugin, activate and then try saving the settings?

[2019-08-24 04:50] #45 closed

[2020-04-15 21:23] Cter385 opened #46 "Issue with 404 page"
Hi there,

We had to deactivate the plugin due to it affecting our form submissions and we were wondering if you could fix this error so we could reactivate it and use our custom 404.

[Wed Apr 15 20:08:56.215552 2020] [php7:notice] [pid 6208] [client 134.122.81.145:16988] WordPress database error Table 'wp_beckwood4100.wp_custom_404_pro_options' doesn't exist for query SELECT * FROM wp_custom_404

[2020-04-15 23:43] kunalnagar commented on #46
@Cter385 - thanks for using the plugin!

I'm not sure what this error is. If your current logs are not important to you, could you see if removing the plugin and re-installing fixes the issue?

[2020-04-22 04:51] #46 closed

[2021-04-09 09:23] EnricoMaioni opened #49 "Multi-language site"
Hi there, first of all thanks for your great plugin.
Also, I apologize for my English, I know it’s not the best…
I would like to fix this issue:
I’ve created a custom 404 page in three languages, using WPML plugin.
The problem is that always (in any language) the wrong URL is redirected to the Italian version of the custom page 404.
Is there any way to fix it, please?
Thank you.

[2021-04-12 05:50] kunalnagar commented on #49
Hi @EnricoMaioni,

Thanks for using the plugin.

I've never tested this plugin with WPML. Before digging into the issue, I'd like to ask a few clarifying questions:

Does this mean that no matter what version of the site you are on, if someone enters a wrong URL, they get redirected to the 404 page on the Italian version of the site?

Also, I'm not entirely sure how the WPML plugin works, but is t

[2021-04-12 06:18] EnricoMaioni commented on #49
Hi @kunalnagar ,
thanks for your support.
Yes, I confirm that no matter what version of the site you are on, if someone enters a wrong URL, they get redirected to the (custom) 404 page on the Italian version of the site.
Also, yes: WPML has a way to set the default language. I set Italian as default language.
Thank you.

[2021-04-12 13:28] kunalnagar commented on #49
Thanks for the clarification, @EnricoMaioni - I'll dig into this over the next few days and let you know when I have an update.

[2021-04-22 15:03] EnricoMaioni commented on #49
Hi @kunalnagar .
Any news?
I like your plugin, but f doesn't work with a multi-language site, I will search another one, I'm sorry...

[2021-04-22 21:51] kunalnagar commented on #49
Hi @EnricoMaioni ,

I don't want to block you with this.

Please go ahead with another plugin if that suits your needs better. I'm planning on investigating this issue on the weekend and will post back my findings here. If you're still on the fence about it, perhaps revisit this plugin again 🙂

[2021-04-23 13:18] EnricoMaioni commented on #49
Thank you @kunalnagar.
To be honest, I found only one plugin as good as yours (https://en-gb.wordpress.org/plugins/404page/ ), but also that plugin doesn't work if WPML is installed.
So, I hope you will be able to fix the issue.
I will wait.
Thank you very much.

[2021-04-24 15:06] kunalnagar commented on #49
Hi @EnricoMaioni ,

After some debugging I've found out that this plugin does not have support for WordPress Multisite out of the box. I definitely believe this to be an important feature and have put it on the roadmap for development.

Unfortunately, I cannot promise a fixed deadline for this. And it does seem to be quite a bit of work to add support for Multisite and test it out as well, which m

[2021-04-24 15:06] kunalnagar opened #50 "Support WordPress Multisite"

[2021-04-24 22:55] #50 closed

[2021-04-24 22:57] kunalnagar commented on #49
Hi @EnricoMaioni ,

I've just released `3.3.0` of the plugin with some Multisite Support. Could you upgrade and see if it fixes your problem?

[2021-04-25 05:56] EnricoMaioni commented on #49
Hello @kunalnagar .
Unfortunately, after update your plugin, the issue is still there.
Anyway, I really want to thank you for your work.
Just for your information, my website is www.guidedolomiti.com
Grazie!

[2021-04-25 14:06] kunalnagar commented on #49
Hi @EnricoMaioni ,

Thanks for trying out the update.

Is it possible for you to completely remove the plugin and set it up from scratch?

When I tried visiting an incorrect URL on a multisite environment, it redirected me to the correct site. If it still doesn't work, then maybe it's an incompatibility with the WPML plugin.

[2021-04-25 16:45] EnricoMaioni commented on #49
Ciao.
I tried, I completely removed the plugin and set it up from scratch, but not success.
It's a pity, because WPML is one of the most popular plugin for multi-language (not multisite) websites.
Anyway, thanks for your work.
Ciao.

[2021-07-24 16:36] kunalnagar opened #53 "chore: Update support for WordPress 5.8"

[2021-07-24 16:47] #53 closed

[2022-08-14 02:44] Kis0o opened #57 "404 Page Error"
Hi.

Site: www.maikamuyka.com
custom error page: www.maikamuyka.com/not-found-page.html

Instead of redirecting to my custom error page, you get this: "Not Found The requested URL was not found on this server.
Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request."

I have an html site, but a wordpress blog.  There is a wp .htaccess file in

[2022-08-18 16:14] Akiracr opened #58 "Warning: Undefined array key"
### Problem:
On general tab there are some warnings messages relate with undefined array keys.

![Selección_352](https://user-images.githubusercontent.com/283008/185441289-7b6fdf2a-523c-42ba-a4f1-960558c6a3d1.png)

When save changes button is used the site brakes showing some similar warnings.
![Selección_353](https://user-images.githubusercontent.com/283008/185443568-b7044c9f-b9b2-4c63-adc2-37635

[2022-10-23 02:45] kunalnagar commented on #58
@Akiracr - thanks for bringing this up, I'll investigate soon. Meanwhile, could you completely remove the plugin and install it again and see if it fixes the issue? Thanks!

[2022-10-23 02:46] kunalnagar commented on #57
@Kis0o - is this issue still happening? I was able to go to https://maikamuyka.com/qwe and see a 404 page.

[2022-10-23 02:47] #49 closed